<!DOCTYPE html>
   
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <tittle></tittle>
    </head>

    <body>
        <form action="http://127.0.0.1:5000/" method="get">
            <br>
            <p>
                &emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;
                Resposta
                <br><br>
                {{ x }}
                <br><br>
            </p>
            <p>
                &emsp;
                <button type="submit">Voltar</button>
            </p>
        </form>
    </body>
</html>
